
.cardContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.cardContainer .box {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.cardContainer .box::before {
    position: absolute;
    content: '';
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    filter: blur(10px);
    transition: 0.5s
}
.cardContainer .box::after {
    position: absolute;
    content: '';
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(70px);
    transition: 0.5s;
}

.cardContainer .box:hover:before,
.cardContainer .box:hover:after {
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px)
}
.cardContainer .box:nth-child(1):before,
.cardContainer .box:nth-child(1):after {
    background: linear-gradient(315deg, #ffbc00, #ff0058);
}
.cardContainer .box:nth-child(2):before,
.cardContainer .box:nth-child(2):after {
    background: linear-gradient(315deg, #2eb8e2, #62e288);
}
.cardContainer .box:nth-child(3):before,
.cardContainer .box:nth-child(3):after {
    background: linear-gradient(315deg, #ffc012, #3695d4);
}

.cardContainer .box span {
    display: blox;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}
.cardContainer .box span::before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba (0,0,0,0.05);
}

.cardContainer .box:hover span::before {
    top: -80px;
    left: 10px;
    width: 95px;
    height: 95px;
    opacity: 1;
}

.cardContainer .box span::after {
    content: '';
    position: absolute;
    bottom:0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    animation-delay: -1s;
}

.cardContainer .box:hover span::after {
    bottom:-50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
}






.cardContainer .box .cardContent {
    position: relative;
    z-index: 1;
    left: 0;
    padding: 20px 40px;
    background: rgba(255,255,255,0.05);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    backdrop-filter: blur(20px);
    transition: 0.5s;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.25);

}

.cardContainer .box:hover .cardContent {
    left: -25px;
    padding: 60px 50px;
}

.cardContainer .box .cardContent h2 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}
.cardContainer .box .cardContent p {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.cardContainer .box .cardContent a {
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
    margin-top: 5px;
}