
.sectionHeader {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #ee7a49, #e4466e, #dd468a, #d149a8, #b640ce);
  min-height: 100vh;
  background-size: cover;
  padding: 50px;
}



@media (max-width: 992px) {
 
  
}